html, body, * {
    scrollbar-width: thin;
    scrollbar-color: rgb(40, 40, 40) rgb(10, 10, 10);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(40, 40, 40);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(10, 10, 10);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(40, 40, 40, 0.8);
}