


html, body, * {
    scrollbar-width: thin;
    scrollbar-color: #23272f #181a20;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: #23272f;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #181a20;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #353b48;
}